@charset "UTF-8";
a {
    text-decoration: none;
    color: #00277e;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
    align-items: center;
}
.header__site-title {
    font-size: 20px;
}
.header__nav {
    display: flex;
    font-size: 14px;
    gap: 30px;
}
main {
    width: 100%;
    margin-top: 70px;
}
.main {
    display: flex;
}
.main__img {
    width: 60%;
    text-align: right;
    z-index: 1;
}
.main__img img {
    width: 600px;
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 56px;
    font-weight: 500;
    margin-top: 250px;
    width: 600px;
    position: relative;
}
h1::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 1000px;
    height: 150px;
    background-color: #00277e;
    z-index: 0;
}